# 아파트 실거래가 예측

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import  LabelEncoder
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error
from gensim.models.word2vec import Word2Vec
from gensim.models import FastText
import xgboost as xgb
import lightgbm as lgb
import re
import optuna

sns.set_theme(style="darkgrid")

## Data Load

In [4]:
train_df = pd.read_csv('./input/train.csv')
test_df = pd.read_csv('./input/test.csv')

### apart

In [5]:
#괄호와 괄호안내용 제거
regex = "\(.*\)|\s-\s.*"
for i in tqdm(range(len(train_df))):
   train_df.at[i, 'apt'] = re.sub(regex, '', train_df.at[i, 'apt'])
for i in tqdm(range(len(test_df))):
   test_df.at[i, 'apt'] = re.sub(regex, '', test_df.at[i, 'apt'])

100%|██████████| 1216553/1216553 [00:44<00:00, 27065.22it/s]
100%|██████████| 5463/5463 [00:00<00:00, 70307.68it/s]

In [6]:
# top 10 시공사 아파트 여부를 나타내는 컬럼 생성
train_df['top10'] = 0
test_df['top10'] = 0
top10 = ['자이', '푸르지오', '더샵', '롯데캐슬', '이편한|e편한|e-편한',
         '힐스테이트', '아이파크', '래미안', 'sk|SK|에스케이', '데시앙']

train_df['apt'] = train_df['apt'].fillna('others')
# top 10 시공사면 1, 아니면 0
for i, brand in enumerate(top10):
    train_df.loc[train_df['apt'].str.contains(brand), 'top10'] = 1
    test_df.loc[test_df['apt'].str.contains(brand), 'top10'] = 1

In [7]:
train_df['apt'].nunique()

9374

In [8]:
9374 ** 0.25

9.839685947207718

In [9]:
vector_size = 32
epochs = 100
# model = Word2Vec([train_df['apt'].values.tolist()], min_count=1, vector_size=vector_size, sg=1, epochs=epochs)
# model.save(f'apt_w2v_{vector_size}_sg_{epochs}.model')

In [10]:
# model = FastText([train_df['apt'].values.tolist()], min_count=1, vector_size=vector_size, sg=1, epochs=epochs)
# model.save(f'apt_ft_{vector_size}_sg_{epochs}.model')

In [9]:
apt_w2v = Word2Vec.load(f'apt_w2v_{vector_size}_sg_{epochs}.model')

In [10]:
apt_w2v.wv.most_similar('현대')

[('삼성', 0.9640912413597107),
 ('구암하이빌', 0.9485388994216919),
 ('세종아파트', 0.9439804553985596),
 ('청호그린빌', 0.9374281764030457),
 ('프라임1', 0.9370697140693665),
 ('그린빌', 0.9366737008094788),
 ('프라임캐슬', 0.9348333477973938),
 ('무악다온채', 0.9330804944038391),
 ('동산빌라', 0.9313090443611145),
 ('인왕산2차아이파크', 0.9302440285682678)]

In [11]:
train_df['apt_embedded'] = train_df['apt'].apply(lambda x: apt_w2v.wv[x])

In [12]:
train_df.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price,top10,apt_embedded
0,0,7622,서울특별시,신교동,6-13,신현,신교동 6-13 신현(101동),84.82,2002,200801,21~31,2,37500,0,"[-0.23254652, 0.042566862, -0.011055423, -0.13..."
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,200801,1~10,6,20000,0,"[-0.07257517, -0.036842454, -0.022608314, -0.1..."
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,200801,1~10,6,38500,0,"[-0.21846321, 0.035915352, -0.036925208, -0.11..."
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,200801,11~20,15,118000,0,"[-0.23255132, -0.03417889, -0.17498778, -0.340..."
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,200801,21~31,3,120000,0,"[-0.2133682, -0.054133132, -0.16826825, -0.256..."

### date
apt 전처리는 마쳤으니, 이번에는 date로 넘어가봅시다.

In [13]:
# test 시작 거래연월인 인덱스 저장
test_start = train_df.loc[train_df['transaction_year_month'] == 201701, 'transaction_year_month'].index[0]

In [14]:
# 완공연도에서 최소연도를 뺌으로써 완공연도 라벨인코딩
print('변환전\n', train_df['year_of_completion'].unique()[:5])
train_df['year_of_completion'] = train_df['year_of_completion'] - train_df['year_of_completion'].min()
test_df['year_of_completion'] = test_df['year_of_completion'] - test_df['year_of_completion'].min()
print('변환후\n', train_df['year_of_completion'].unique()[:5])

# 연월 증가하는 순으로 라벨 인코딩
print('train 변환전\n', train_df['transaction_year_month'].unique()[:5])
print('test 변환전\n', test_df['transaction_year_month'].unique()[:5])
le = LabelEncoder()
train_df['transaction_year_month'] = le.fit_transform(train_df['transaction_year_month'])
# test는 다음과 같이 처리
test_df['transaction_year_month'] = test_df['transaction_year_month'] - test_df['transaction_year_month'].min() + train_df.at[test_start, 'transaction_year_month']
print('train 변환후\n', train_df['transaction_year_month'].unique()[:5])
print('test 변환후\n', test_df['transaction_year_month'].unique()[:5])

# 필요없는 열 제거
train_df = train_df.drop(['jibun', 'transaction_date', 'addr_kr'], axis=1)
test_df = test_df.drop(['jibun', 'transaction_date', 'addr_kr'], axis=1)

변환전
 [2002 1973 2007 2003 2004]
변환후
 [41 12 46 42 43]
train 변환전
 [200801 200802 200803 200804 200805]
test 변환전
 [201711 201708 201710 201707 201712]
train 변환후
 [0 1 2 3 4]
test 변환후
 [118 115 117 114 119]

### dong
- 이번에는 주소의 동입니다.
- 먼저 서울과 부산에서 같은 이름을 가진 동이 있는지 확인해보겠습니다.

In [15]:
seoul_set = set(train_df.loc[train_df['city']=='서울특별시', 'dong'])
busan_set = set(train_df.loc[train_df['city']=='부산광역시', 'dong'])
same_dong = seoul_set & busan_set 
print(same_dong)

{'사직동', '송정동', '중동', '부암동'}

- 서울과 부산에 중동, 부암동, 송정동, 사직동 총 네 동이 겹칩니다.
- 접두사에 서울 또는 부산을 붙여 같은동을 분리하겠습니다.

In [16]:
for d in same_dong:
    train_df.loc[(train_df['city']=='서울특별시') & (train_df['dong']==d), 'dong'] = '서울' + d
    train_df.loc[(train_df['city']=='부산광역시') & (train_df['dong']==d), 'dong'] = '부산' + d
    test_df.loc[(test_df['city']=='서울특별시') & (test_df['dong']==d), 'dong'] = '서울' + d
    test_df.loc[(test_df['city']=='부산광역시') & (test_df['dong']==d), 'dong'] = '부산' + d
    

seoul_set = set(train_df.loc[train_df['city']=='서울특별시', 'dong'])
busan_set = set(train_df.loc[train_df['city']=='부산광역시', 'dong'])
same_dong = seoul_set & busan_set
print(same_dong)

set()

In [17]:
vector_size = 256
epochs = 100
# model = Word2Vec([train_df['dong'].values.tolist()], min_count=1, vector_size=vector_size, sg=1, epochs=epochs)
# model.save(f'dong_w2v_{vector_size}_sg_{epochs}.model')
model = FastText([train_df['dong'].values.tolist()], min_count=1, vector_size=vector_size, sg=1, epochs=epochs)
model.save(f'dong_ft_{vector_size}_sg_{epochs}.model')
# dong_w2v = Word2Vec.load(f'dong_w2v_{vector_size}_sg_{epochs}.model')
# train_df['dong_embedded'] = train_df['dong'].apply(lambda x: dong_w2v.wv[x])
# train_df.head()

### Floor

In [15]:
train_df.describe()

,transaction_id,apartment_id,exclusive_use_area,year_of_completion,transaction_year_month,floor,transaction_real_price,top10
count,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06
mean,6.091530e+05,6.299685e+03,7.816549e+01,3.729657e+01,6.437834e+01,9.343291e+00,3.822769e+04,1.234225e-01
std,3.526198e+05,3.581169e+03,2.915113e+01,8.941347e+00,3.509363e+01,6.606500e+00,3.104898e+04,3.289217e-01
min,0.000000e+00,0.000000e+00,9.260000e+00,0.000000e+00,0.000000e+00,-4.000000e+00,1.000000e+02,0.000000e+00
25%,3.041380e+05,3.345000e+03,5.976000e+01,3.200000e+01,3.300000e+01,4.000000e+00,1.900000e+04,0.000000e+00
50%,6.082760e+05,5.964000e+03,8.241000e+01,3.800000e+01,7.100000e+01,8.000000e+00,3.090000e+04,0.000000e+00
75%,9.124140e+05,9.436000e+03,8.497000e+01,4.400000e+01,9.400000e+01,1.300000e+01,4.700000e+04,0.000000e+00
max,1.234827e+06,1.265800e+04,4.243200e+02,5.600000e+01,1.180000e+02,8.000000e+01,8.200000e+05,1.000000e+00

- 최소층이 -4층임을 확인할 수 있습니다.
- 4를 더해서 라벨인코딩을 진행해줍니다.
- test는 최소층이 -1층이었으니 맞게 변환합니다.

In [16]:
# 최소값이 -4이므로 4를 더해서 음수를 없애고 순서형범주처리
print('변환전\n', train_df['floor'].values[:5])
train_df['floor'] = train_df['floor'].map(lambda x: x+4)
test_df['floor'] = test_df['floor'].map(lambda x: x+1)
print('변환후\n', train_df['floor'].values[:5])

변환전
 [ 2  6  6 15  3]
변환후
 [ 6 10 10 19  7]

- 가격의 분포가 매우 왼쪽으로 치우친 것을 확인할 수 있습니다.
- 타겟 변수의 이상치가 회귀모형을 사용한 예측에 큰 영향을 줄 수 있으니,
    - 로그 변환으로 정규화한뒤, 나중에 다시 역변환하겠습니다!

In [17]:
# 가격 로그 변환 후 원래 가격 따로 저장
train_df['log_price'] = np.log1p(train_df['transaction_real_price'])
real_price = train_df['transaction_real_price'] # 원래 가격
train_df.drop('transaction_real_price', axis=1, inplace=True)
train_df.head(1)

,transaction_id,apartment_id,city,dong,apt,exclusive_use_area,year_of_completion,transaction_year_month,floor,top10,apt_embedded,dong_embedded,log_price
0,0,7622,서울특별시,신교동,신현,84.82,41,0,6,0,"[-0.23254652, 0.042566862, -0.011055423, -0.13...","[-0.020665638, 0.0018528725, 0.19737682, 0.051...",10.532123

In [18]:
# 면적 로그 변환 후 원래 면적 따로 저장
train_df['log_area'] = np.log1p(train_df['exclusive_use_area'])
test_df['log_area'] = np.log1p(test_df['exclusive_use_area'])
area = train_df['exclusive_use_area'] # 원래 가격
train_df.drop('exclusive_use_area', axis=1, inplace=True)
test_df.drop('exclusive_use_area', axis=1, inplace=True)
train_df.head(1)

,transaction_id,apartment_id,city,dong,apt,year_of_completion,transaction_year_month,floor,top10,apt_embedded,dong_embedded,log_price,log_area
0,0,7622,서울특별시,신교동,신현,41,0,6,0,"[-0.23254652, 0.042566862, -0.011055423, -0.13...","[-0.020665638, 0.0018528725, 0.19737682, 0.051...",10.532123,4.452252

### Encoding
- 인코딩은 이제 `city`만 진행하면 됩니다.
- `city`는 서울특별시면 1, 부산광역시면 0으로 변환하겠습니다.
- 학습에 사용하지 않을 피쳐들도 제거하겠습니다.

In [19]:
drop_col = ['transaction_id', 'apartment_id', 'dong', 'apt']

train_df['city'] = train_df['city'].map(lambda x: 1 if x == '서울특별시' else 0)
test_df['city'] = test_df['city'].map(lambda x: 1 if x == '서울특별시' else 0)

In [20]:
train_df.drop(drop_col, axis=1, inplace=True)
test_df.drop(drop_col, axis=1, inplace=True)
train_df.head(1)

,city,year_of_completion,transaction_year_month,floor,top10,apt_embedded,dong_embedded,log_price,log_area
0,1,41,0,6,0,"[-0.23254652, 0.042566862, -0.011055423, -0.13...","[-0.020665638, 0.0018528725, 0.19737682, 0.051...",10.532123,4.452252

In [21]:
train_df.head()

,city,year_of_completion,transaction_year_month,floor,top10,apt_embedded,dong_embedded,log_price,log_area
0,1,41,0,6,0,"[-0.23254652, 0.042566862, -0.011055423, -0.13...","[-0.020665638, 0.0018528725, 0.19737682, 0.051...",10.532123,4.452252
1,1,12,0,10,0,"[-0.07257517, -0.036842454, -0.022608314, -0.1...","[-0.13813207, 0.05756776, 0.24997199, 0.156601...",9.903538,4.606869
2,1,46,0,10,0,"[-0.21846321, 0.035915352, -0.036925208, -0.11...","[-0.13813207, 0.05756776, 0.24997199, 0.156601...",10.558439,4.451319
3,1,42,0,19,0,"[-0.23255132, -0.03417889, -0.17498778, -0.340...","[-0.007641092, 0.033978105, 0.1266122, 0.16146...",11.678448,4.993082
4,1,43,0,7,0,"[-0.2133682, -0.054133132, -0.16826825, -0.256...","[-0.007641092, 0.033978105, 0.1266122, 0.16146...",11.695255,5.275202

In [22]:
emb_apt = np.array(train_df['apt_embedded'].to_numpy().tolist())
emb_dong = np.array(train_df['dong_embedded'].to_numpy().tolist())
print(emb_apt[0])
print(emb_dong[0])
print(emb_apt.shape, emb_dong.shape)

[-0.23254652  0.04256686 -0.01105542 -0.13822897  0.24339215 -0.22995716
 -0.2311544   0.01147736 -0.358248    0.23215035  0.43959767 -0.15645029
 -0.19831434  0.00605765  0.042192    0.3321557   0.56391495 -0.62903017
 -0.3460328   0.01275607  0.44655827 -0.4327852   0.15890001 -0.20873517
  0.5099378  -0.47281167 -0.1494761  -0.39175433  0.6341808  -0.5414246
 -0.47584584 -0.39650655 -0.18887365 -0.18573722  0.2007323  -0.31213656
  0.7612993  -0.35426447 -0.2783838  -0.48215944  0.03613958  0.04039577
  0.38860244 -0.02163618  0.95936424 -0.14018232  0.42479774  0.161514
  0.38089067  0.497164    0.32227176  0.00699505  0.40709674 -0.63915235
  0.27060488  0.12688789  0.02925548 -0.10456738  0.01827618  0.09853494
  0.08399682  0.23287441  0.3078636   0.37072808 -0.72631013 -0.6930064
 -0.27152947 -0.23376872  0.30902606 -0.523639    0.66742545  0.09696272
 -0.272735    0.09943978 -0.12257459 -0.36623853  0.06546838  0.1550139
 -0.05706481 -0.45711136  0.0258328  -0.49973714  0.63772184 -0.5339963
  0.5742643   0.6840711   0.03306483 -0.21117641  0.15849008  0.22441375
  0.386992   -0.7519371   0.11506779  0.00525275  0.29931158 -0.0721093
  0.1166859   0.06270286  0.03740576 -0.05721816  0.3648111  -0.0182489
  0.19704361 -0.30995223  1.0319805   0.0466217   0.09485526  0.82442814
  0.3899906  -0.83162355  0.5053422  -0.16234049 -0.22697924 -0.43084225
  0.21174216  0.07034207  0.1720958   0.36020422  0.05898701  0.20500757
  0.18451515 -0.20028238 -0.06646094 -0.14343226 -0.00703634  0.10777057
  0.35985148 -0.19482204  0.01838407  0.46246642 -0.64090705 -0.06733786
  0.2724489   0.28789133 -0.02390906  0.5950705   0.11779018 -0.05453617
  0.7526781   0.1321946   0.2544358   0.4753236  -0.14992373 -0.43809584
  0.03239641 -0.724934    0.09590799  0.01808677  0.46791628 -0.27390298
 -0.06325013  0.31982836  0.10307139  0.16232625 -0.24401757 -0.03821799
  0.39293072 -0.16160303 -0.07495797  0.59441286 -0.0935312  -0.2977999
 -0.46112964 -0.46576604  0.6896444   0.22725695  0.6222154   0.02390095
  0.75142646  0.13151695 -0.04387517 -0.47213733  0.06885193 -0.476823
 -0.01841076 -0.25838253 -0.5615164   0.18456635 -0.55866426  0.40142184
 -0.34911063 -0.05492833  0.7139293  -0.48369914  0.18666318  0.4934217
 -0.42199835  0.08369031 -0.7664944  -0.4233643  -0.24203748  0.09815317
 -0.08338564 -0.27813032 -0.22559595 -0.35911903  0.6048742   0.46083945
  0.28167993  0.31486264 -0.6504907  -0.3890847   0.10505055 -0.04587484
 -0.2157603   0.087614    0.42657214  0.06243428  0.24240679 -0.4004217
 -0.11858745 -0.12668893 -0.01911181 -0.38296893  0.22000186  0.30904198
  0.31044152 -0.49130997  0.05631475  0.4393679  -0.1937782  -0.70410955
  0.40163925  0.04511965 -0.3568327  -0.22423227 -0.22206685  0.3388703
 -0.1364485   0.22315061  0.553144    0.10498932 -0.46827808  0.23836406
  0.04291474  0.61720914 -0.21747367  0.17146452 -0.37282076  0.20882052
 -0.20878778  0.47236082 -0.14347275  0.02639399  0.09197883  0.268388
  0.26412192  0.0672529  -0.79249156 -0.43082058 -0.44233868 -0.4706902
  0.5299834   0.02644137 -0.01769883  0.09332361]
[-0.02066564  0.00185287  0.19737682  0.0512749   0.3784523   0.01448416
  0.56362545  0.14856513 -0.13729225  0.05700558  0.01095973 -0.30479464
  0.1609647  -0.23041561 -0.08701696 -0.2137288   0.09852993 -0.0165586
  0.04328696 -0.28863153  0.31244966  0.35933506 -0.1028919  -0.46603933
 -0.06235792 -0.14104553 -0.07945338 -0.50297123 -0.33420634  0.08249118
  0.29154158  0.4848377  -0.26054677  0.0265443   0.02310266  0.34752145
  0.30876312  0.00641244 -0.33328536  0.07586993 -0.25195906  0.45117047
  0.37087753  0.08536362 -0.49277323  0.12429903  0.4212629  -0.19577016
  0.18225178 -0.5210147  -0.10069975 -0.07581328 -0.39817002 -0.3357185
  0.1435192   0.17027067  0.23711915  0.2703883  -0.14399643  0.2253466
  0.28528216  0.45534956 -0.1375037  -0.18481424  0.02214279 -0.33406878
 -0.09645842 -0.19710809  0.40141523  0.15324225  0.04413746  0.37816024
 -0.1315627  -0.36676264  0.03502233 -0.15752256 -0.00971089 -0.47674254
 -0.07071508  0.05360424  0.27475163 -0.04406742 -0.23649244  0.31688297
 -0.32459414 -0.2567452  -0.30935082  0.09315779 -0.26633626  0.02631176
 -0.21257138  0.19989952  0.22646579  0.02426108  0.32925418  0.34201196
  0.11301549  0.3506039   0.14511697 -0.29291818  0.17571352 -0.05542554
  0.5621376  -0.03601788  0.17408115 -0.13567013  0.06396693 -0.07084946
  0.19673444  0.2722452   0.11687352  0.11961108 -0.07581532  0.16404638
  0.12336748 -0.05927637  0.00810839  0.22026266 -0.36035302  0.24483958
  0.41859224 -0.24256228 -0.07856315 -0.38610327 -0.004221    0.14790972
 -0.5222613  -0.11205895 -0.32656792  0.2787091  -0.16835248 -0.24126859
  0.16010174  0.13561887 -0.34048635 -0.20297746  0.44258168 -0.09220543
  0.42831185  0.29212123  0.25264925 -0.2691881  -0.18348156 -0.13011491
 -0.3323369  -0.23594299  0.25375223 -0.1035063  -0.5149664  -0.04409491
 -0.28643015 -0.29510036 -0.02238142 -0.28965124 -0.44791445  0.31795758
 -0.6070936   0.12784418  0.00693047  0.27390665 -0.00181405 -0.27014992
 -0.12150203 -0.3122801   0.17733283  0.20139828 -0.0295545   0.21312414
 -0.35487804 -0.13299109  0.09511283 -0.2270655  -0.39088115 -0.00504264
  0.17616016  0.05456696  0.17710346  0.2698607   0.6163808   0.69221854
 -0.0386791   0.3262815   0.15707628 -0.07195799  0.13162525 -0.38344097
  0.13439836 -0.27510247  0.09015071  0.42100504  0.03692265 -0.05598845
  0.12360965  0.460244    0.01221741  0.09085457 -0.29411852 -0.20709947
 -0.5949526  -0.18815264 -0.05777427  0.32455176  0.04527088  0.30775392
 -0.4179362   0.46868613 -0.16488208 -0.20928358  0.04401024  0.16122304
  0.10644796  0.26927018 -0.27605113  0.11208095 -0.21385598 -0.07150514
 -0.07754401 -0.29226178 -0.0086474   0.17217258  0.31940767 -0.26097408
 -0.02819926 -0.00234156 -0.44631082  0.2577175  -0.04639415  0.34117857
  0.05001409  0.19831653 -0.21961673  0.67640233  0.09915728  0.2295517
 -0.22910304  0.24330348  0.4031478   0.0270652  -0.32553396  0.30915537
  0.16813281 -0.30794504 -0.3747555  -0.23399633 -0.10999953  0.13668999
  0.39601353  0.21705638  0.5575573   0.0008172   0.06061925 -0.16260885
 -0.2269909   0.23303494 -0.14947568 -0.10033617]
(1216553, 256) (1216553, 256)

In [23]:
X_common = train_df.drop(['apt_embedded', 'dong_embedded'], axis=1)
embedding = np.concatenate([emb_apt, emb_dong], axis=1)
train_X = np.concatenate([X_common.drop('log_price', axis=1).to_numpy(), embedding], axis=1)
train_y = train_df['log_price'].to_numpy()

In [24]:
print(len(X_common.columns), len(embedding[0]))

7 512

In [25]:
print(train_X.shape, train_y.shape)

(1216553, 518) (1216553,)

In [26]:
def RMSE(y, y_pred):
    rmse = mean_squared_error(y, y_pred) ** 0.5
    return rmse

- 간단하게 모델을 정의합니다.

In [27]:
cut = int(len(train_df)*0.8)
h_train_X = train_X[:cut]
h_train_y = train_y[:cut]
h_valid_X = train_X[cut:]
h_valid_y = train_y[cut:]

# h_train = train_X[:cut]
# h_valid = train_df[cut:]

# h_train_X = h_train.drop('log_price', axis=1)
# h_train_y = h_train['log_price']
# h_valid_X = h_valid.drop('log_price', axis=1)
# h_valid_y = h_valid['log_price']
# # dataframe to numpy array
# h_train_X, h_train_y, h_valid_X, h_valid_y = h_train_X.to_numpy(), h_train_y.to_numpy(), h_valid_X.to_numpy(), h_valid_y.to_numpy()
print(h_train_X.shape, h_train_y.shape, h_valid_X.shape, h_valid_y.shape)

(973242, 518) (973242,) (243311, 518) (243311,)

In [28]:
h_train_X[0]

array([ 1.00000000e+00,  4.10000000e+01,  0.00000000e+00,  6.00000000e+00,
        0.00000000e+00,  4.45225208e+00, -2.32546523e-01,  4.25668620e-02,
       -1.10554229e-02, -1.38228968e-01,  2.43392155e-01, -2.29957163e-01,
       -2.31154397e-01,  1.14773624e-02, -3.58247995e-01,  2.32150346e-01,
        4.39597666e-01, -1.56450287e-01, -1.98314339e-01,  6.05765451e-03,
        4.21920046e-02,  3.32155704e-01,  5.63914955e-01, -6.29030168e-01,
       -3.46032798e-01,  1.27560673e-02,  4.46558267e-01, -4.32785213e-01,
        1.58900008e-01, -2.08735168e-01,  5.09937823e-01, -4.72811669e-01,
       -1.49476096e-01, -3.91754329e-01,  6.34180784e-01, -5.41424572e-01,
       -4.75845844e-01, -3.96506548e-01, -1.88873649e-01, -1.85737222e-01,
        2.00732306e-01, -3.12136561e-01,  7.61299312e-01, -3.54264468e-01,
       -2.78383791e-01, -4.82159436e-01,  3.61395776e-02,  4.03957739e-02,
        3.88602436e-01, -2.16361769e-02,  9.59364235e-01, -1.40182316e-01,
        4.24797744e-01,  1.61513999e-01,  3.80890667e-01,  4.97164011e-01,
        3.22271764e-01,  6.99505024e-03,  4.07096744e-01, -6.39152348e-01,
        2.70604879e-01,  1.26887888e-01,  2.92554777e-02, -1.04567379e-01,
        1.82761773e-02,  9.85349417e-02,  8.39968175e-02,  2.32874408e-01,
        3.07863593e-01,  3.70728076e-01, -7.26310134e-01, -6.93006396e-01,
       -2.71529466e-01, -2.33768716e-01,  3.09026062e-01, -5.23639023e-01,
        6.67425454e-01,  9.69627202e-02, -2.72735000e-01,  9.94397774e-02,
       -1.22574590e-01, -3.66238534e-01,  6.54683784e-02,  1.55013904e-01,
       -5.70648126e-02, -4.57111359e-01,  2.58328039e-02, -4.99737144e-01,
        6.37721837e-01, -5.33996284e-01,  5.74264288e-01,  6.84071124e-01,
        3.30648273e-02, -2.11176410e-01,  1.58490077e-01,  2.24413753e-01,
        3.86992007e-01, -7.51937091e-01,  1.15067787e-01,  5.25274500e-03,
        2.99311578e-01, -7.21092969e-02,  1.16685897e-01,  6.27028644e-02,
        3.74057628e-02, -5.72181642e-02,  3.64811093e-01, -1.82488970e-02,
        1.97043613e-01, -3.09952229e-01,  1.03198051e+00,  4.66216952e-02,
        9.48552638e-02,  8.24428141e-01,  3.89990598e-01, -8.31623554e-01,
        5.05342185e-01, -1.62340492e-01, -2.26979241e-01, -4.30842251e-01,
        2.11742163e-01,  7.03420714e-02,  1.72095805e-01,  3.60204220e-01,
        5.89870103e-02,  2.05007568e-01,  1.84515148e-01, -2.00282380e-01,
       -6.64609373e-02, -1.43432260e-01, -7.03634042e-03,  1.07770570e-01,
        3.59851480e-01, -1.94822043e-01,  1.83840673e-02,  4.62466419e-01,
       -6.40907049e-01, -6.73378557e-02,  2.72448897e-01,  2.87891328e-01,
       -2.39090621e-02,  5.95070481e-01,  1.17790177e-01, -5.45361750e-02,
        7.52678096e-01,  1.32194594e-01,  2.54435807e-01,  4.75323588e-01,
       -1.49923727e-01, -4.38095838e-01,  3.23964134e-02, -7.24933982e-01,
        9.59079862e-02,  1.80867705e-02,  4.67916280e-01, -2.73902982e-01,
       -6.32501319e-02,  3.19828361e-01,  1.03071392e-01,  1.62326247e-01,
       -2.44017571e-01, -3.82179916e-02,  3.92930716e-01, -1.61603034e-01,
       -7.49579668e-02,  5.94412863e-01, -9.35311988e-02, -2.97799885e-01,
       -4.61129636e-01, -4.65766042e-01,  6.89644396e-01,  2.27256954e-01,
        6.22215390e-01,  2.39009522e-02,  7.51426458e-01,  1.31516948e-01,
       -4.38751727e-02, -4.72137332e-01,  6.88519254e-02, -4.76823002e-01,
       -1.84107553e-02, -2.58382529e-01, -5.61516404e-01,  1.84566349e-01,
       -5.58664262e-01,  4.01421845e-01, -3.49110633e-01, -5.49283326e-02,
        7.13929296e-01, -4.83699143e-01,  1.86663181e-01,  4.93421704e-01,
       -4.21998352e-01,  8.36903080e-02, -7.66494393e-01, -4.23364311e-01,
       -2.42037475e-01,  9.81531665e-02, -8.33856389e-02, -2.78130323e-01,
       -2.25595951e-01, -3.59119028e-01,  6.04874194e-01,  4.60839450e-01,
        2.81679928e-01,  3.14862639e-01, -6.50490701e-01, -3.89084697e-01,
        1.05050549e-01, -4.58748378e-02, -2.15760306e-01,  8.76139998e-02,
        4.26572144e-01,  6.24342822e-02,  2.42406785e-01, -4.00421709e-01,
       -1.18587449e-01, -1.26688927e-01, -1.91118103e-02, -3.82968932e-01,
        2.20001861e-01,  3.09041977e-01,  3.10441524e-01, -4.91309971e-01,
        5.63147515e-02,  4.39367890e-01, -1.93778202e-01, -7.04109550e-01,
        4.01639253e-01,  4.51196507e-02, -3.56832713e-01, -2.24232271e-01,
       -2.22066849e-01,  3.38870287e-01, -1.36448503e-01,  2.23150611e-01,
        5.53143978e-01,  1.04989320e-01, -4.68278080e-01,  2.38364056e-01,
        4.29147370e-02,  6.17209136e-01, -2.17473671e-01,  1.71464518e-01,
       -3.72820765e-01,  2.08820522e-01, -2.08787784e-01,  4.72360820e-01,
       -1.43472746e-01,  2.63939947e-02,  9.19788331e-02,  2.68388003e-01,
        2.64121920e-01,  6.72529042e-02, -7.92491555e-01, -4.30820584e-01,
       -4.42338675e-01, -4.70690191e-01,  5.29983401e-01,  2.64413655e-02,
       -1.76988337e-02,  9.33236107e-02, -2.06656381e-02,  1.85287255e-03,
        1.97376817e-01,  5.12748994e-02,  3.78452301e-01,  1.44841624e-02,
        5.63625455e-01,  1.48565128e-01, -1.37292251e-01,  5.70055842e-02,
        1.09597286e-02, -3.04794639e-01,  1.60964698e-01, -2.30415612e-01,
       -8.70169550e-02, -2.13728800e-01,  9.85299274e-02, -1.65585969e-02,
        4.32869606e-02, -2.88631529e-01,  3.12449664e-01,  3.59335065e-01,
       -1.02891900e-01, -4.66039330e-01, -6.23579212e-02, -1.41045526e-01,
       -7.94533789e-02, -5.02971232e-01, -3.34206343e-01,  8.24911818e-02,
        2.91541576e-01,  4.84837711e-01, -2.60546774e-01,  2.65442990e-02,
        2.31026560e-02,  3.47521454e-01,  3.08763117e-01,  6.41243672e-03,
       -3.33285362e-01,  7.58699328e-02, -2.51959056e-01,  4.51170474e-01,
        3.70877534e-01,  8.53636190e-02, -4.92773235e-01,  1.24299027e-01,
        4.21262890e-01, -1.95770159e-01,  1.82251781e-01, -5.21014690e-01,
       -1.00699753e-01, -7.58132786e-02, -3.98170024e-01, -3.35718513e-01,
        1.43519193e-01,  1.70270666e-01,  2.37119153e-01,  2.70388305e-01,
       -1.43996432e-01,  2.25346595e-01,  2.85282165e-01,  4.55349565e-01,
       -1.37503698e-01, -1.84814245e-01,  2.21427903e-02, -3.34068775e-01,
       -9.64584202e-02, -1.97108090e-01,  4.01415229e-01,  1.53242245e-01,
        4.41374630e-02,  3.78160238e-01, -1.31562695e-01, -3.66762638e-01,
        3.50223258e-02, -1.57522559e-01, -9.71089303e-03, -4.76742536e-01,
       -7.07150772e-02,  5.36042377e-02,  2.74751633e-01, -4.40674238e-02,
       -2.36492440e-01,  3.16882968e-01, -3.24594140e-01, -2.56745189e-01,
       -3.09350818e-01,  9.31577906e-02, -2.66336262e-01,  2.63117570e-02,
       -2.12571383e-01,  1.99899524e-01,  2.26465791e-01,  2.42610779e-02,
        3.29254180e-01,  3.42011958e-01,  1.13015488e-01,  3.50603908e-01,
        1.45116970e-01, -2.92918175e-01,  1.75713524e-01, -5.54255359e-02,
        5.62137604e-01, -3.60178761e-02,  1.74081147e-01, -1.35670125e-01,
        6.39669299e-02, -7.08494559e-02,  1.96734443e-01,  2.72245198e-01,
        1.16873518e-01,  1.19611077e-01, -7.58153200e-02,  1.64046377e-01,
        1.23367481e-01, -5.92763722e-02,  8.10838956e-03,  2.20262662e-01,
       -3.60353023e-01,  2.44839579e-01,  4.18592244e-01, -2.42562279e-01,
       -7.85631463e-02, -3.86103272e-01, -4.22100304e-03,  1.47909716e-01,
       -5.22261322e-01, -1.12058952e-01, -3.26567918e-01,  2.78709114e-01,
       -1.68352485e-01, -2.41268590e-01,  1.60101742e-01,  1.35618865e-01,
       -3.40486348e-01, -2.02977464e-01,  4.42581683e-01, -9.22054276e-02,
        4.28311855e-01,  2.92121232e-01,  2.52649248e-01, -2.69188106e-01,
       -1.83481559e-01, -1.30114913e-01, -3.32336903e-01, -2.35942990e-01,
        2.53752232e-01, -1.03506297e-01, -5.14966428e-01, -4.40949127e-02,
       -2.86430150e-01, -2.95100361e-01, -2.23814156e-02, -2.89651245e-01,
       -4.47914451e-01,  3.17957580e-01, -6.07093573e-01,  1.27844185e-01,
        6.93046814e-03,  2.73906648e-01, -1.81405467e-03, -2.70149916e-01,
       -1.21502034e-01, -3.12280089e-01,  1.77332833e-01,  2.01398283e-01,
       -2.95545030e-02,  2.13124141e-01, -3.54878038e-01, -1.32991090e-01,
        9.51128304e-02, -2.27065504e-01, -3.90881151e-01, -5.04264329e-03,
        1.76160157e-01,  5.45669645e-02,  1.77103460e-01,  2.69860715e-01,
        6.16380811e-01,  6.92218542e-01, -3.86791006e-02,  3.26281488e-01,
        1.57076284e-01, -7.19579905e-02,  1.31625250e-01, -3.83440971e-01,
        1.34398356e-01, -2.75102466e-01,  9.01507139e-02,  4.21005040e-01,
        3.69226523e-02, -5.59884533e-02,  1.23609647e-01,  4.60244000e-01,
        1.22174127e-02,  9.08545703e-02, -2.94118524e-01, -2.07099468e-01,
       -5.94952583e-01, -1.88152641e-01, -5.77742718e-02,  3.24551761e-01,
        4.52708788e-02,  3.07753921e-01, -4.17936206e-01,  4.68686134e-01,
       -1.64882079e-01, -2.09283575e-01,  4.40102369e-02,  1.61223039e-01,
        1.06447957e-01,  2.69270182e-01, -2.76051134e-01,  1.12080954e-01,
       -2.13855982e-01, -7.15051368e-02, -7.75440112e-02, -2.92261779e-01,
       -8.64739995e-03,  1.72172576e-01,  3.19407672e-01, -2.60974079e-01,
       -2.81992629e-02, -2.34156265e-03, -4.46310818e-01,  2.57717490e-01,
       -4.63941507e-02,  3.41178566e-01,  5.00140935e-02,  1.98316529e-01,
       -2.19616726e-01,  6.76402330e-01,  9.91572812e-02,  2.29551703e-01,
       -2.29103044e-01,  2.43303478e-01,  4.03147787e-01,  2.70652007e-02,
       -3.25533956e-01,  3.09155375e-01,  1.68132812e-01, -3.07945043e-01,
       -3.74755502e-01, -2.33996332e-01, -1.09999530e-01,  1.36689991e-01,
        3.96013528e-01,  2.17056379e-01,  5.57557285e-01,  8.17203778e-04,
        6.06192499e-02, -1.62608847e-01, -2.26990893e-01,  2.33034939e-01,
       -1.49475679e-01, -1.00336172e-01])

In [23]:
from optuna.samplers import TPESampler

sampler = TPESampler(seed=10)

def objective(trial):
    dtrain = lgb.Dataset(h_train_X, label=h_train_y)
    dtest = lgb.Dataset(h_valid_X, label=h_valid_y)

    param = {
        'objective': 'regression', # 회귀
        'verbose': -1,
        'device': 'gpu',
        'metric': 'rmse', 
        'max_depth': trial.suggest_int('max_depth',3, 15),
        'learning_rate': trial.suggest_loguniform("learning_rate", 1e-8, 1e-2),
        'n_estimators': trial.suggest_int('n_estimators', 100, 3000),
        'min_child_samples': trial.suggest_int('min_child_samples', 5, 100),
        'subsample': trial.suggest_loguniform('subsample', 0.4, 1),
    }

    model = lgb.LGBMRegressor(**param)
    lgb_model = model.fit(h_train_X, h_train_y, eval_set=[(h_valid_X, h_valid_y)], verbose=0, early_stopping_rounds=25)
    rmse = RMSE(h_valid_y, lgb_model.predict(h_valid_X))
    return rmse
        
study_lgb = optuna.create_study(direction='minimize', sampler=sampler)
study_lgb.optimize(objective, n_trials=100)

[I 2021-10-08 14:41:03,291] A new study created in memory with name: no-name-47321b27-c1f8-46c1-bef4-6b52e2c9d64e
/home/kok/anaconda3/envs/rjs/lib/python3.8/site-packages/lightgbm/sklearn.py:726: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/home/kok/anaconda3/envs/rjs/lib/python3.8/site-packages/lightgbm/sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

KeyboardInterrupt:

In [ ]:
trial = study_lgb.best_trial
trial_params = trial.params
print('Best Trial: score {},\nparams {}'.format(trial.value, trial_params))

- 처음에 LightGBM 평균 RMSLE가 0.2390임을 감안했을때, 매우 성능이 향상됐음을 알 수 있습니다.

## LightGBM Submission
- 이제 test 셋을 사용해서 inference를 해보고 실제 점수를 Dacon에서 확인해볼시간입니다.
- 먼저 train 데이터에서 진행한 모든 전처리를 test 데이터에도 적용합니다.

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [ ]:
final_lgb_model = lgb.LGBMRegressor(**trial_params)
final_lgb_model.fit(train_X, train_y)
final_lgb_pred = final_lgb_model.predict(test_df)

In [ ]:
final_lgb_pred

In [ ]:
plt.barh(train_X.columns, final_lgb_model.feature_importances_)

- 동, 완공연도, 면적, 아파트명 순으로 중요도가 높다고 나옵니다.
- top 시공사는 별로 중요하지 않다고 하네요..

## Submission
- 이제 제출을 해봅시다.
- 가격을 다시 역변환합니다.

In [ ]:
final_pred_sub = np.expm1(final_lgb_pred)
final_pred_sub

In [ ]:
sub = pd.read_csv('./input/test.csv')
sub_df = pd.DataFrame({'transaction_id': sub['transaction_id'], 'transaction_real_price': final_pred_sub})
sub_df

In [ ]:
sub_df.to_csv('submission_lgb.csv', index=False)

여기까지 따라오시느라 고생하셨습니다.

긴 글 봐주셔서 감사합니다:)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import  LabelEncoder
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb
import re
import optuna

sns.set_theme(style="darkgrid")

## Data Load

In [ ]:
train_df = pd.read_csv('./input/train.csv')
test_df = pd.read_csv('./input/test.csv')

In [ ]:
train_df.head(3)

In [ ]:
test_df.head(3)

- exclusive_use_area: 전용면적(한 세대만 독점적으로 사용하는 공간)
- transaction_real_price: 실거래가(단위:만원, 타겟 값, train만 존재)
- transaction_year_month: 거래년월
- transaction_date: 거래일
- floor: 층 

- 데이터가 거래시간 순으로 이루어져 있습니다.

In [ ]:
print(train_df.shape)
print(test_df.shape)

- 처음부터 train 데이터와 test데이터가 분리되어 있습니다. (id가 겹치지 않습니다.)
    - train data: 1216552행 13열로 구성
    - test data: 5463행 12열로 구성 (예측변수 'transaction_real_price'는 제외됨)

In [ ]:
train_df.head(5)

In [ ]:
train_df.describe()

In [ ]:
train_df.info()

- train_df 결측치는 없습니다.
- 건물들은 1961년 ~ 2017년에 완공됐습니다.
- 9.26m^2 ~ 424.32m^2 전용면적을 가지고 있습니다.
- Floor의 경우 음의 값이 존재합니다.
- 실거래가는 100만원부터 820억까지 존재합니다.

In [ ]:
train_df.loc[train_df['transaction_real_price']==820000]

In [ ]:
test_df.describe()

- test 데이터는 거래 연월이 2017년 데이터만 존재합니다.
- 완공연도는 train과 동일합니다.
- 층은 -1층부터 존재합니다.

In [ ]:
test_df.info()

- 마찬가지로 결측치는 없습니다.

## Preprocessing

### apart

In [ ]:
rain_df.head(1)

- 신현(101동)과 신현(102동)의 가격차이가 클까요?
- apt 이름에 존재하는 괄호 + 괄호안 내용을 제거해서 통일하겠습니다.

In [ ]:
#괄호와 괄호안내용 제거
regex = "\(.*\)|\s-\s.*"
for i in tqdm(range(len(train_df))):
   train_df.at[i, 'apt'] = re.sub(regex, '', train_df.at[i, 'apt'])
for i in tqdm(range(len(test_df))):
   test_df.at[i, 'apt'] = re.sub(regex, '', test_df.at[i, 'apt'])

In [ ]:
train_df['apt'].value_counts()[:20]

In [ ]:
train_df['apt'].nunique()

In [ ]:
# top 10 시공사 아파트 여부를 나타내는 컬럼 생성
train_df['top10'] = 0
test_df['top10'] = 0
top10 = ['자이', '푸르지오', '더샵', '롯데캐슬', '이편한|e편한|e-편한',
         '힐스테이트', '아이파크', '래미안', 'sk|SK|에스케이', '데시앙']

train_df['apt'] = train_df['apt'].fillna('others')
# top 10 시공사면 1, 아니면 0
for i, brand in enumerate(top10):
    train_df.loc[train_df['apt'].str.contains(brand), 'top10'] = 1
    test_df.loc[test_df['apt'].str.contains(brand), 'top10'] = 1

In [ ]:
train_df.head(1)

In [ ]:
from gensim.models.word2vec import Word2Vec
model = Word2Vec([train_df['apt'].values.tolist()], min_count=1, vector_size=1024, sg=1, epochs=100)
model.save('apt_w2v_1024_sg_100.model')

In [ ]:
apt_w2v = Word2Vec.load('apt_w2v_1024_sg_100.model')

In [ ]:
apt_w2v.wv.most_similar('현대')

In [ ]:
dong_w2v.wv.most_similar('신교동')[-1]

In [ ]:
train_df['apt_embedded'] = train_df['apt'].apply(lambda x: apt_w2v.wv[x])

In [ ]:
train_df.head()

### date
apt 전처리는 마쳤으니, 이번에는 date로 넘어가봅시다.

In [ ]:
train_df.head(1)

In [ ]:
train_df.describe()

- 날짜 관련 컬럼은 `year_of_completion`, `transaction_year_month`, `transaction_date`가 있습니다.
- `transaction_date`는 0~10, 11~20, 21~30 총 세가지로 이루어져 있는데, 가격에 크게 영향을 미칠 것 같지 않아 제외합니다.
각 컬럼의 최대/최소가
- `year_of_completion`
    - 최소연도: 1961년
    - 최대연도: 2017년
- `transaction_year_month`
    - 최소연도: 2008년 1월
    - 최대연도: 2017년 11월
임을 확인합니다.
- 최대연도에서 최소연도를 빼면 정수형 라벨인코딩이 완성되겠죠?
- 사용하지 않을 열도 미리 제거하겠습니다.

주의할 점은 test 데이터의 라벨인코딩입니다.
- test 완공연도는 train 데이터와 동일하기 때문에 상관없습니다.
- 대신 거래연월이 2017년 01월부터 12월까지로만 이루어져 있기 때문에, 최소값을 빼면 train 라벨인코딩과 다른 값이 됩니다.
- 따라서 test의 거래연월에서 2017을 뺀 값에서 201701의 인코딩 값을 더해줍니다.

In [ ]:
# test 시작 거래연월인 인덱스 저장
test_start = train_df.loc[train_df['transaction_year_month'] == 201701, 'transaction_year_month'].index[0]

In [ ]:
# 완공연도에서 최소연도를 뺌으로써 완공연도 라벨인코딩
print('변환전\n', train_df['year_of_completion'].unique()[:5])
train_df['year_of_completion'] = train_df['year_of_completion'] - train_df['year_of_completion'].min()
test_df['year_of_completion'] = test_df['year_of_completion'] - test_df['year_of_completion'].min()
print('변환후\n', train_df['year_of_completion'].unique()[:5])

# 연월 증가하는 순으로 라벨 인코딩
print('train 변환전\n', train_df['transaction_year_month'].unique()[:5])
print('test 변환전\n', test_df['transaction_year_month'].unique()[:5])
le = LabelEncoder()
train_df['transaction_year_month'] = le.fit_transform(train_df['transaction_year_month'])
# test는 다음과 같이 처리
test_df['transaction_year_month'] = test_df['transaction_year_month'] - test_df['transaction_year_month'].min() + train_df.at[test_start, 'transaction_year_month']
print('train 변환후\n', train_df['transaction_year_month'].unique()[:5])
print('test 변환후\n', test_df['transaction_year_month'].unique()[:5])

# 필요없는 열 제거
train_df = train_df.drop(['jibun', 'transaction_date', 'addr_kr'], axis=1)
test_df = test_df.drop(['jibun', 'transaction_date', 'addr_kr'], axis=1)

In [ ]:
train_df.head(5)

In [ ]:
test_df

In [ ]:
train_df.describe()

In [ ]:
test_df.describe()

### dong
- 이번에는 주소의 동입니다.
- 먼저 서울과 부산에서 같은 이름을 가진 동이 있는지 확인해보겠습니다.

In [ ]:
seoul_set = set(train_df.loc[train_df['city']=='서울특별시', 'dong'])
busan_set = set(train_df.loc[train_df['city']=='부산광역시', 'dong'])
same_dong = seoul_set & busan_set 
print(same_dong)

seoul_set = set(test_df.loc[test_df['city']=='서울특별시', 'dong'])
busan_set = set(test_df.loc[test_df['city']=='부산광역시', 'dong'])
same_dong = seoul_set & busan_set 
print(same_dong)

- 서울과 부산에 중동, 부암동, 송정동, 사직동 총 네 동이 겹칩니다.
- 접두사에 서울 또는 부산을 붙여 같은동을 분리하겠습니다.

In [ ]:
for d in same_dong:
    train_df.loc[(train_df['city']=='서울특별시') & (train_df['dong']==d), 'dong'] = '서울' + d
    train_df.loc[(train_df['city']=='부산광역시') & (train_df['dong']==d), 'dong'] = '부산' + d
    test_df.loc[(test_df['city']=='서울특별시') & (test_df['dong']==d), 'dong'] = '서울' + d
    test_df.loc[(test_df['city']=='부산광역시') & (test_df['dong']==d), 'dong'] = '부산' + d
    

seoul_set = set(train_df.loc[train_df['city']=='서울특별시', 'dong'])
busan_set = set(train_df.loc[train_df['city']=='부산광역시', 'dong'])
same_dong = seoul_set & busan_set
print(same_dong)

- 더 이상 겹치는 동이 없습니다.
- 이번에는 동별로 평균 가격을 확인해보겠습니다.
- 아파트 평균 가격을 확인하는 방법과 동일합니다.

In [ ]:
model = Word2Vec([train_df['dong'].values.tolist()], min_count=1, vector_size=1024, sg=1, epochs=100)
model.save('dong_w2v_1024_sg_100.model')
dong_w2v = Word2Vec.load('dong_w2v_1024_sg_100.model')
train_df['dong_embedded'] = train_df['dong'].apply(lambda x: dong_w2v.wv[x])
train_df

### Floor

In [ ]:
train_df.describe()

- 최소층이 -4층임을 확인할 수 있습니다.
- 4를 더해서 라벨인코딩을 진행해줍니다.
- test는 최소층이 -1층이었으니 맞게 변환합니다.

In [ ]:
# 최소값이 -4이므로 4를 더해서 음수를 없애고 순서형범주처리
print('변환전\n', train_df['floor'].values[:5])
train_df['floor'] = train_df['floor'].map(lambda x: x+4)
test_df['floor'] = test_df['floor'].map(lambda x: x+1)
print('변환후\n', train_df['floor'].values[:5])

### Price
- 이제 타겟데이터를 살펴보겠습니다.

In [ ]:
# train price
plt.figure()
sns.displot(train_df['transaction_real_price'], bins=30)
plt.xlabel('Price(10000 won)')
plt.title('Distribution of Price')
plt.show()

- 가격의 분포가 매우 왼쪽으로 치우친 것을 확인할 수 있습니다.
- 타겟 변수의 이상치가 회귀모형을 사용한 예측에 큰 영향을 줄 수 있으니,
    - 로그 변환으로 정규화한뒤, 나중에 다시 역변환하겠습니다!

In [ ]:
# 가격 로그 변환 후 원래 가격 따로 저장
train_df['log_price'] = np.log1p(train_df['transaction_real_price'])
real_price = train_df['transaction_real_price'] # 원래 가격
train_df.drop('transaction_real_price', axis=1, inplace=True)
train_df.head(1)

- 잘 변환이 됐는지 그래프를 그려보겠습니다.

In [ ]:
f, (ax1, ax2) = plt.subplots(1,2,figsize=(12,6))

ax1.hist(real_price, bins=30)
ax1.set_title('Price Distribution')
ax1.set_xlabel('Price')

ax2.hist(train_df['log_price'], bins=30)
ax2.set_title('Log Price Distribution')
ax2.set_xlabel('Log Price')

plt.show()

- 가격이 정규분포처럼 잘 근사됐네요 :)

### Area
- 면적도 가격과 동일하게!

In [ ]:
# train area
plt.figure()
sns.displot(train_df['exclusive_use_area'], bins=30)
plt.xlabel('Area(Square meter)')
plt.title('Distribution of Area')
plt.show()

In [ ]:
# 면적 로그 변환 후 원래 면적 따로 저장
train_df['log_area'] = np.log1p(train_df['exclusive_use_area'])
test_df['log_area'] = np.log1p(test_df['exclusive_use_area'])
area = train_df['exclusive_use_area'] # 원래 가격
train_df.drop('exclusive_use_area', axis=1, inplace=True)
test_df.drop('exclusive_use_area', axis=1, inplace=True)
train_df.head(1)

In [ ]:
f, (ax1, ax2) = plt.subplots(1,2,figsize=(12,6))

ax1.hist(area, bins=30)
ax1.set_title('Distribution of Area')
ax1.set_xlabel('Area')

ax2.hist(train_df['log_area'], bins=30)
ax2.set_title('Distribution of Log Area')
ax2.set_xlabel('Area')

plt.show()

- 가격만큼 만족스럽진 않지만.. 그냥 쓰겠습니다 ㅎㅎ

### Encoding
- 인코딩은 이제 `city`만 진행하면 됩니다.
- `city`는 서울특별시면 1, 부산광역시면 0으로 변환하겠습니다.
- 학습에 사용하지 않을 피쳐들도 제거하겠습니다.

In [ ]:
drop_col = ['transaction_id', 'apartment_id', 'dong', 'apt']

train_df['city'] = train_df['city'].map(lambda x: 1 if x == '서울특별시' else 0)
test_df['city'] = test_df['city'].map(lambda x: 1 if x == '서울특별시' else 0)

In [ ]:
train_df.drop(drop_col, axis=1, inplace=True)
test_df.drop(drop_col, axis=1, inplace=True)
train_df.head(1)

In [ ]:
test_df.head(1)

In [ ]:
train_df.info()

In [ ]:
print(train_df.shape, test_df.shape)

In [116]:
import tensorflow as tf
train_df['apt_embedded'] = train_df['apt_embedded'].apply(lambda x: tf.reshape(x, [-1]).numpy())
train_df['dong_embedded'] = train_df['dong_embedded'].apply(lambda x: tf.reshape(x, [-1]).numpy())
train_X, train_y = train_df.drop(['log_price', 'dong', 'apt'], axis=1), train_df['log_price']
print(train_X.shape, train_y.shape)

In [ ]:
def RMSE(y, y_pred):
    rmse = mean_squared_error(y, y_pred) ** 0.5
    return rmse

- 간단하게 모델을 정의합니다.

In [ ]:
reg = LinearRegression(n_jobs=-1)
ridge = Ridge(alpha=0.8, random_state=1)
lasso = Lasso(alpha = 0.01, random_state=1)
Enet = ElasticNet(alpha=0.03, l1_ratio=0.01, random_state=1)
DTree = DecisionTreeRegressor(max_depth=6, min_samples_split=10, min_samples_leaf=15, random_state=1)
rf = RandomForestRegressor(n_estimators=500, criterion='mse', max_depth=9, min_samples_split=50,
                           min_samples_leaf=5, random_state=1, n_jobs=-1)
model_xgb = xgb.XGBRegressor(n_estimators=500, max_depth=9, min_child_weight=5, gamma=0.1, n_jobs=-1)
model_lgb = lgb.LGBMRegressor(n_estimators=500, max_depth=9, min_child_weight=5, n_jobs=-1)

- 학습을 시키고 성능을 테스트합니다.
- i9-10980XE CPU를 사용했을 때, 아래의 CV 시간은 약 800초 정도 소요됩니다.

In [ ]:
import tensorflow as tf
for e in train_X['dong_embedded']:
    print(tf.reshape(e, [-1]).numpy())
    break

In [ ]:
train_X['dong_embedded'][0

In [ ]:
models = []
scores = []
train_data = lgb.Dataset(train_X, label=train_y)
for model in [model_lgb]:
    model_name, mean_score = print_rmse_score(model)
    models.append(model_name)
    scores.append(mean_score)

In [ ]:
result_df = pd.DataFrame({'Model': models, 'Score': scores}).reset_index(drop=True)
result_df

In [ ]:
f, ax = plt.subplots(figsize=(10, 6))
plt.xticks(rotation='90')
sns.barplot(x=result_df['Model'], y=result_df['Score'])
plt.xlabel('Models', fontsize=15)
plt.ylabel('Model Performance', fontsize=15)
plt.ylim(0.22, 0.32)
plt.title('RMSLE', fontsize=15)
plt.show()

- CV 결과 LightGBM의 평균 RMSLE가 0.2395로 가장 작은 것을 알 수 있습니다.
- 이제, LightGBM을 이용하여 하이퍼 파라미터 튜닝을 진행하겠습니다.

### Hyperparameter Tuning
- 시간적 비용을 고려하여, 하이퍼 파라미터 튜닝에서는 TimeSeries CV를 사용하지 않겠습니다.
- 대신 train 데이터를 8:2 비율로 분할하여 학습과 검증에 사용하겠습니다.
- 마찬가지로 데이터가 섞이지 않게, 검증 데이터는 train 데이터의 마지막 20%을 사용하겠습니다.

In [ ]:
cut = int(len(train_df)*0.8)
h_train = train_df[:cut]
h_valid = train_df[cut:]

h_train_X = h_train.drop('log_price', axis=1)
h_train_y = h_train['log_price']
h_valid_X = h_valid.drop('log_price', axis=1)
h_valid_y = h_valid['log_price']
print(h_train_X.shape, h_train_y.shape, h_valid_X.shape, h_valid_y.shape)

In [ ]:
h_train_X.head()

- optuna를 사용하여 하이퍼 파라미터 튜닝을 진행합니다.
- 약 20분 정도 진행됩니다.

In [ ]:
from optuna.samplers import TPESampler

sampler = TPESampler(seed=10)

def objective(trial):
    dtrain = lgb.Dataset(h_train_X, label=h_train_y)
    dtest = lgb.Dataset(h_valid_X, label=h_valid_y)

    param = {
        'objective': 'regression', # 회귀
        'verbose': -1,
        'metric': 'rmse', 
        'max_depth': trial.suggest_int('max_depth',3, 15),
        'learning_rate': trial.suggest_loguniform("learning_rate", 1e-8, 1e-2),
        'n_estimators': trial.suggest_int('n_estimators', 100, 3000),
        'min_child_samples': trial.suggest_int('min_child_samples', 5, 100),
        'subsample': trial.suggest_loguniform('subsample', 0.4, 1),
    }

    model = lgb.LGBMRegressor(**param)
    lgb_model = model.fit(h_train_X, h_train_y, eval_set=[(h_valid_X, h_valid_y)], verbose=0, early_stopping_rounds=25)
    rmse = RMSE(h_valid_y, lgb_model.predict(h_valid_X))
    return rmse
        
study_lgb = optuna.create_study(direction='minimize', sampler=sampler)
study_lgb.optimize(objective, n_trials=100)

In [ ]:
trial = study_lgb.best_trial
trial_params = trial.params
print('Best Trial: score {},\nparams {}'.format(trial.value, trial_params))

- 처음에 LightGBM 평균 RMSLE가 0.2390임을 감안했을때, 매우 성능이 향상됐음을 알 수 있습니다.

## LightGBM Submission
- 이제 test 셋을 사용해서 inference를 해보고 실제 점수를 Dacon에서 확인해볼시간입니다.
- 먼저 train 데이터에서 진행한 모든 전처리를 test 데이터에도 적용합니다.

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [ ]:
final_lgb_model = lgb.LGBMRegressor(**trial_params)
final_lgb_model.fit(train_X, train_y)
final_lgb_pred = final_lgb_model.predict(test_df)

In [ ]:
final_lgb_pred

In [ ]:
plt.barh(train_X.columns, final_lgb_model.feature_importances_)

- 동, 완공연도, 면적, 아파트명 순으로 중요도가 높다고 나옵니다.
- top 시공사는 별로 중요하지 않다고 하네요..

## Submission
- 이제 제출을 해봅시다.
- 가격을 다시 역변환합니다.

In [ ]:
final_pred_sub = np.expm1(final_lgb_pred)
final_pred_sub

In [ ]:
sub = pd.read_csv('./input/test.csv')
sub_df = pd.DataFrame({'transaction_id': sub['transaction_id'], 'transaction_real_price': final_pred_sub})
sub_df

In [ ]:
sub_df.to_csv('submission_lgb.csv', index=False)

여기까지 따라오시느라 고생하셨습니다.

긴 글 봐주셔서 감사합니다:)

In [ ]:
trial = study_lgb.best_trial
trial_params = trial.params
print('Best Trial: score {},\nparams {}'.format(trial.value, trial_params))

- 처음에 LightGBM 평균 RMSLE가 0.2390임을 감안했을때, 매우 성능이 향상됐음을 알 수 있습니다.

## LightGBM Submission
- 이제 test 셋을 사용해서 inference를 해보고 실제 점수를 Dacon에서 확인해볼시간입니다.
- 먼저 train 데이터에서 진행한 모든 전처리를 test 데이터에도 적용합니다.

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [ ]:
final_lgb_model = lgb.LGBMRegressor(**trial_params)
final_lgb_model.fit(train_X, train_y)
final_lgb_pred = final_lgb_model.predict(test_df)

In [ ]:
final_lgb_pred

In [ ]:
plt.barh(train_X.columns, final_lgb_model.feature_importances_)

- 동, 완공연도, 면적, 아파트명 순으로 중요도가 높다고 나옵니다.
- top 시공사는 별로 중요하지 않다고 하네요..

## Submission
- 이제 제출을 해봅시다.
- 가격을 다시 역변환합니다.

In [ ]:
final_pred_sub = np.expm1(final_lgb_pred)
final_pred_sub

In [ ]:
sub = pd.read_csv('./input/test.csv')
sub_df = pd.DataFrame({'transaction_id': sub['transaction_id'], 'transaction_real_price': final_pred_sub})
sub_df

In [ ]:
sub_df.to_csv('submission_lgb.csv', index=False)

여기까지 따라오시느라 고생하셨습니다.

긴 글 봐주셔서 감사합니다:)